.stock{
    background-color: rgba(0, 184, 0, 0.363);
}
.out-of-stock{
    background-color: rgba(206, 21, 4, 0.363);
}
.card-body{
    position: relative;
}
.badge-id{
    position: absolute;
    top: 5px;
    right: 5px;
}